<div class="backdrop is-hidden" modal-franchise="">
  <section class="modal">
    <h1 class="modal__title">Thank you for your interest in owning an Ice Cream shop</h1>
    <p class="modal__paragraph">
      Due to the overwhelming volume of franchise requests we are not accepting new franchisee
      applications at this time. Once the application process resumes, we will contact you for
      further information. Please fill out the contact information below and we will reach out for
      additional information. We appreciate your patience.
    </p>
    <form class="modal__form">
      <div class="modal-field-wrapper">
        <input class="modal__form--input" type="text" id="username" placeholder="" />
        <label class="form-label" for="username">Name</label>
      </div>
      <div class="modal-field-wrapper">
        <input class="modal__form--input" type="tel" id="phone" placeholder="" />
        <label class="form-label" for="phone">Phone</label>
      </div>
      <div class="modal-field-wrapper">
        <input class="modal__form--input" type="email" id="email" placeholder="" />
        <label class="form-label" for="e-mail">E-mail</label>
      </div>
      <div class="modal-field-wrapper">
        <textarea
          class="modal__form--input modal__form--textarea--comment"
          placeholder=""
          id="comment"
        ></textarea>
        <label class="form-label" for="comment">Comment</label>
      </div>
    </form>
    <button class="about-button">Submit</button>
    <button class="modal__closebutton close-button" type="button" modal-franchise-close="">
      <svg class="modal__closebutton--icon" width="20" height="20">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
  </section>
</div>
